{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yoga Admission Form</title>
</head>
<body style="text-align:center; display:block">
    <h1>Yoga Admission Form</h1>
    <p id="output-message"></p>
    <form action="{%url 'yogaform' %}" id="formdata" method="POST" role="form"
    class="yogaForm">
        {% csrf_token %}

        <input type="text" name="first_name" id="first_name"
        class="form-control" placeholder="First Name" required>
        <br><br><br>

        <input type="text" name="last_name"
        class="form-control" id="last_name" placeholder="Last Name" required>
        <br><br><br>

        <input type="number" name="age" 
        class="form-control" id="age" placeholder="Age" required>
        <br><br><br>

        <input type="email" class="form-control" name="email" id="email"  placeholder="Email"  required>
        <br><br><br>

        <input type="text" class="form-control" name="contact_number" 
        id="contact_number"  placeholder="Contact Number"  required>
        <br><br><br> 
        <p>Gender</p>
    
        <input type="radio" class="form-control" name="gender" 
        id="g1"  placeholder="Gender"  value='M' required>Male

        
        <input type="radio" class="form-control" name="gender" 
        id="g2"  placeholder="Gender" value='F' required>Female
        <br><br><br> 

        <input type="number" class="form-control" name="batch_id" 
        id="batch_id"  placeholder="Batch"  required>
        <br><br><br>

        <input type="submit" id="submit" value="Submit">
    </form>
    
    {% comment %} Fetch API javascript code is written here for the simplicity of the project {% endcomment %}

    <script  type="text/javascript">
        document.getElementById("formdata").addEventListener("submit",function(e){
            e.preventDefault();
                first_name=document.getElementById("first_name").value;
                last_name=document.getElementById("last_name").value;
                age=document.getElementById("age").value;
                email=document.getElementById("email").value;
                contact_number=document.getElementById("contact_number").value;
                if (document.getElementById('g1').checked) {
                    gender = document.getElementById('g1').value;
                }
                if (document.getElementById('g2').checked) {
                    gender = document.getElementById('g2').value;
                } 
                batch_id=document.getElementById("batch_id").value;
                amount=500;
                payment_successful="True";
        
                const formData=new FormData();
                formData.append('first_name',first_name);
                formData.append('last_name',last_name);
                formData.append('age',age);
                formData.append('email',email);
                formData.append('contact_number',contact_number);
                formData.append('gender',gender);
                formData.append('batch_id',batch_id);
                formData.append('amount',amount);
                formData.append('payment_successful',payment_successful);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                console.log(formData);
                fetch('{% url "yogaform" %}',{
                    method:'POST',
                    body:formData
                })
                .then(response=>response.json())
                .then(data=>{
                    console.log('Success:',data);
                    document.getElementById("first_name").value = "";
                    document.getElementById("last_name").value="";
                    document.getElementById("age").value="";
                    document.getElementById("email").value = "";
                    document.getElementById("contact_number").value = "";
                    document.getElementById("g1").checked = false;
                    document.getElementById("g2").checked = false;
                    document.getElementById("batch_id").value = "";
                    document.getElementById("output-message").innerText = "Your details have been successfully registered!"
                    setTimeout(function(){ 
                        document.getElementById("output-message").style.display = "none";
                         }, 3000);
                        setTimeout(function(){ 
                        document.getElementById("output-message").style.display = "";
                         }, 3000);
                })
                .catch(error=>{
                    console.log('Error:',error);
                    console.error('Error:', error);
                    document.getElementById("output-message").innerText = "Sorry! There was an error submitting your details. "
                    setTimeout(function(){ 
                    document.getElementById("output-message").style.display = "none";
                    }, 3000);
                    setTimeout(function(){ 
                    document.getElementById("output-message").style.display = "";
                    }, 3000);
                })
        });
    </script>


</body>
</html>